@*
    For more information on enabling MVC fsor empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<link rel="stylesheet" href="~/css/style.css" />
<section>
    <div class="text-center" id="com-name">
        <h1>The Silver Spoon</h1>
        <p style="color: green;"><i>-Treasure of All Spoon</i></p>
    </div>



    <div>
        <h4>About Our Company</h4>
        <p>
            The company founded in 2008 in Windsor, Ontario, Canada. </br>
            The company was originally producing Plastic Spoon for restaurant. </br>
            Later it focused on every aspects of Spoon that used in human life.
        </p>
    </div>
    <div>
        <h4>Our Products and Services</h4>
        <p>
            We have all types of spoon including Tea, Table, Soup, Dessert, </br>
            Serving, Dinner, Korean, Coffee, Spork, Salt, Grapefruit, Sauce etc.
        </p>
        <p>Variety of color - Silver, Golden, Rose-Gold, White, Brown etc.</p>
        <p>
            Variety of materials such as Stainless Steel, Copper, Silicon, </br>
            Plastic,Porcelain, Bamboo, Wood etc. with different price range.
        </p>
    </div>



    <div>


        <pre class="info-style">    <b>CEO:</b>Abu Enayet Siddique.
        <b>Location:</b>
        xxx Avenue, College Street
        Windsor, ON N9A 5H3
        Ontario, Canada.</pre>
    </div>

</section>