@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/style.css" />
<div class="text-center">
    <h4 class="display-4">Welcome to Our Spoon World</h4>

    <img src="image/spoon.jpeg" alt="spoon image" width="700px" height="400px" />

    <p>Click to go to <a href="https://localhost:44337/Spoons">Product List</a>.</p>
</div>
